# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Logs & dumps
*.log
*.tmp

# Editors/IDE
.vscode/
.idea/

# Python tooling
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/

# Env & secrets
.env
*.env

# Node stats snapshots (if you ever save them)
data/*.json
